:root {
  --primary-color: hsl(249, 47%, 46%);
  --primary-color-lighter: hsl(249, 40%, 53%);
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  margin: 0;
  font-family: "Source Sans 3", system-ui, sans-serif;
  color: hsl(0, 0%, 10%);
  font-size: 1.125rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End Reset */

html {
  scroll-behavior: smooth;
}

a {
  text-underline-offset: 0.125em;
}

section {
  min-height: 100vh;
  padding-block: 4rem;
}

.section-inner {
  display: grid;
  align-content: start;
  gap: 3rem;
}

h1,
h2,
h3 {
  text-wrap: balance;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: clamp(2rem, 1rem + 4vw, 4rem);
  margin-top: 0;
}

h2 {
  font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.25rem, 1rem + 2vw, 2.5rem);
  color: hsl(0, 0%, 20%);
}

.container {
  width: min(100% - 3rem, 60rem);
  margin-inline: auto;
}

@media only screen and (min-width: 48em) {
  .container {
    width: min(100% - 4rem, 60rem);
    margin-inline: auto;
  }
}

/* Sections */

.header {
  position: absolute;
  inset: 0 0 auto 0;
  padding-block: 1rem;
}

.hero {
  display: grid;
  align-content: center;
  text-align: center;
  color: rgb(228, 221, 252);
}

.hero p {
  font-size: clamp(1rem, 1rem + 1.5vw, 2rem);
  margin-top: 0.5em;
}

.hero .button {
  margin-top: 2.5rem;
  padding-inline: 2em;
}

/* Nav */

.nav ul {
  width: max-content;
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 0;
  color: rgba(255, 255, 255, 0.884);
}

@media only screen and (min-width: 48em) {
  .nav ul {
    margin: 0 0 0 auto;
  }
}

.nav a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  font-size: 1rem;
  color: hsl(240, 59%, 92%);
}

.nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

footer {
  /* min-height: 2rem;
  padding: 1rem; */
}

/* Components */

.button {
  display: inline-block;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.75em 1em;
  line-height: 1;
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-lighter);
}

/* Image */

.form {
  display: grid;
  gap: 0.5rem;
}

.form input,
.form textarea {
  padding: 1em;
  border-radius: 0.25rem;
  border: 1px solid #dad7ec;
  border-bottom: 1px solid #140f31;
}

.form .button {
  place-self: end;
  margin-top: 1rem;
  padding-inline: 2em;
}

.form label:not(:first-child) {
  margin-top: 0.5em;
}

.image {
  min-height: 20vh;
  aspect-ratio: 3 / 2;
  background: lightgray;
}

.skills {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  gap: 2rem 0.5rem;
  flex-wrap: wrap;
}

.skill {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  list-style-type: none;
  padding: 1em;
  background: rgb(226, 221, 255);
  border-radius: 100vh;
  font-size: 1.25rem;
}

.skill img {
  width: 2em;
}

/* Project */

.project {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 48em) {
  .project {
    margin-bottom: 4rem;
  }
}

.project img {
  width: min(100%, 45rem);
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.links a:not([class]) {
  color: inherit;
}

/* Utilities */

.bold {
  font-weight: bold;
}

#particles-js {
  height: 100vh;
  z-index: -1;
  position: absolute;
  background: rgb(20, 15, 49);
}

.bg-accent {
  background: hsl(240, 42%, 95%);
}

.bg-dark {
  background: #140f31;
  color: white;
}

.fs-large {
  font-size: 1.125rem;
}

@media only screen and (min-width: 48em) {
  .fs-large {
    font-size: 1.25rem;
  }
}
